*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz
*.backup
*.fls
*.nav
*.snm
*.fdb_latexmk
*.brf
*.vrb
*~
auto
*.pdf
#*
_region_.tex
.fuse_hidden*
*.swp
*.bibboost*
.DS_Store
